In [10]:
# importing libraries
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
import plotly.express as px

In [11]:
# loading dataset
df = pd.read_csv("../data/cleaned/cleaned_telecom_customer_churn.csv")
df.head()

,Customer ID,Gender,Age,Married,Number of Dependents,City,Number of Referrals,Tenure in Months,Offer,Phone Service,...,Payment Method,Monthly Charge,Total Charges,Total Revenue,Customer Status,Churn Category,Churn Reason,Calculated Charges,Charges Difference,Churn
0,0002-ORFBO,Female,37,Yes,0,Frazier Park,2,9,Unknown,Yes,...,Credit Card,65.6,593.30,974.81,Stayed,Not churned,Not churned,590.4,2.90,0.0
1,0004-TLHLJ,Male,50,No,0,Costa Mesa,0,4,Offer E,Yes,...,Bank Withdrawal,73.9,280.85,415.45,Churned,Competitor,Competitor had better devices,295.6,14.75,1.0
2,0011-IGKFF,Male,78,Yes,0,Martinez,1,13,Offer D,Yes,...,Bank Withdrawal,98.0,1237.85,1599.51,Churned,Dissatisfaction,Product dissatisfaction,1274.0,36.15,1.0
3,0013-EXCHZ,Female,75,Yes,0,Camarillo,3,3,Unknown,Yes,...,Credit Card,83.9,267.40,289.54,Churned,Dissatisfaction,Network reliability,251.7,15.70,1.0
4,0013-MHZWF,Female,23,No,3,Midpines,0,9,Offer E,Yes,...,Credit Card,69.4,571.45,722.38,Stayed,Not churned,Not churned,624.6,53.15,0.0

In [12]:
# converting "customer status" (target) to binary
df["Churn_status"] = df["Customer Status"].map({
    "Churned": 1,
    "Stayed": 0,
    "Joined": 0
})

In [13]:
# replacing binary column with 1, 0
df["Married"] = df["Married"].replace(["Yes", "No"], [1,0])
df["Phone Service"] = df["Phone Service"].replace(["Yes", "No"], [1,0])
# df["Multiple Lines"] = df["Multiple Lines"].replace(["Yes", "No"], [1,0])
df["Multiple Lines"] = df["Multiple Lines"].map({
    "Yes": 1,
    "No": 0,
    "Unknown": 0
})
df["Internet Service"] = df["Internet Service"].replace(["Yes", "No"], [1,0])

C:\Users\USER\AppData\Local\Temp\ipykernel_4040\604783954.py:2: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  df["Married"] = df["Married"].replace(["Yes", "No"], [1,0])
C:\Users\USER\AppData\Local\Temp\ipykernel_4040\604783954.py:3: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  df["Phone Service"] = df["Phone Service"].replace(["Yes", "No"], [1,0])
C:\Users\USER\AppData\Local\Temp\ipykernel_4040\604783954.py:10: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  df["Internet Service"] = df["Internet Service"].replace(["Yes", "No"], [1,0])

In [14]:
# Average Revenue Per Month
df["Avg_Revenue_Per_Month"] = df["Total Revenue"] / (df["Tenure in Months"])

In [15]:
# Tenure Buckets
df["Tenure"] = pd.cut(
    df["Tenure in Months"],
    bins=[0, 6, 12, 24, 48, 72],
    labels=["0-6m", "6-12m", "1-2y", "2-4y", "4-6y"]
)

In [16]:
# Count Number of Services
service_cols = [
    "Online Security",
    "Online Backup",
    "Device Protection Plan",
    "Premium Tech Support",
    "Streaming TV",
    "Streaming Movies",
    "Streaming Music",
    "Unlimited Data"
]

df["Total Internet Services"] = df[service_cols].apply(lambda x: (x=="Yes").sum(), axis=1)

In [17]:
df.head()

,Customer ID,Gender,Age,Married,Number of Dependents,City,Number of Referrals,Tenure in Months,Offer,Phone Service,...,Customer Status,Churn Category,Churn Reason,Calculated Charges,Charges Difference,Churn,Churn_status,Avg_Revenue_Per_Month,Tenure,Total Internet Services
0,0002-ORFBO,Female,37,1,0,Frazier Park,2,9,Unknown,1,...,Stayed,Not churned,Not churned,590.4,2.90,0.0,0,108.312222,6-12m,4
1,0004-TLHLJ,Male,50,0,0,Costa Mesa,0,4,Offer E,1,...,Churned,Competitor,Competitor had better devices,295.6,14.75,1.0,1,103.862500,0-6m,2
2,0011-IGKFF,Male,78,1,0,Martinez,1,13,Offer D,1,...,Churned,Dissatisfaction,Product dissatisfaction,1274.0,36.15,1.0,1,123.039231,1-2y,5
3,0013-EXCHZ,Female,75,1,0,Camarillo,3,3,Unknown,1,...,Churned,Dissatisfaction,Network reliability,251.7,15.70,1.0,1,96.513333,0-6m,3
4,0013-MHZWF,Female,23,0,3,Midpines,0,9,Offer E,1,...,Stayed,Not churned,Not churned,624.6,53.15,0.0,0,80.264444,6-12m,5

In [18]:
# df_model.to_csv("../data/cleaned/model_telecom_customer_churn.csv", index=False)