In [47]:
# importing libraries
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
import plotly.express as px

In [48]:
# loading dataset
df = pd.read_csv("../data/cleaned/cleaned_telecom_customer_churn.csv")
df.head()

,Customer ID,Gender,Age,Married,Number of Dependents,City,Zip Code,Latitude,Longitude,Number of Referrals,...,Total Charges,Total Refunds,Total Extra Data Charges,Total Long Distance Charges,Total Revenue,Customer Status,Churn Category,Churn Reason,Total_Internet_Services,Churn
0,0002-ORFBO,Female,37,Yes,0,Frazier Park,93225,34.827662,-118.999073,2,...,593.30,0.00,0,381.51,974.81,Stayed,Not churned,Not churned,4,0.0
1,0003-MKNFE,Male,46,No,0,Glendale,91206,34.162515,-118.203869,0,...,542.40,38.33,10,96.21,610.28,Stayed,Not churned,Not churned,2,0.0
2,0004-TLHLJ,Male,50,No,0,Costa Mesa,92627,33.645672,-117.922613,0,...,280.85,0.00,0,134.60,415.45,Churned,Competitor,Competitor had better devices,2,1.0
3,0011-IGKFF,Male,78,Yes,0,Martinez,94553,38.014457,-122.115432,1,...,1237.85,0.00,0,361.66,1599.51,Churned,Dissatisfaction,Product dissatisfaction,5,1.0
4,0013-EXCHZ,Female,75,Yes,0,Camarillo,93010,34.227846,-119.079903,3,...,267.40,0.00,0,22.14,289.54,Churned,Dissatisfaction,Network reliability,3,1.0

In [49]:
# converting "customer status" (target) to binary
df["Churn_status"] = df["Customer Status"].map({
    "Churned": 1,
    "Stayed": 0,
    "Joined": 0
})

In [50]:
# replacing binary column with 1, 0
df["Married"] = df["Married"].replace(["Yes", "No"], [1,0])
df["Phone Service"] = df["Phone Service"].replace(["Yes", "No"], [1,0])
# df["Multiple Lines"] = df["Multiple Lines"].replace(["Yes", "No"], [1,0])
df["Multiple Lines"] = df["Multiple Lines"].map({
    "Yes": 1,
    "No": 0,
    "Unknown": 0
})
df["Internet Service"] = df["Internet Service"].replace(["Yes", "No"], [1,0])

C:\Users\USER\AppData\Local\Temp\ipykernel_6732\604783954.py:2: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  df["Married"] = df["Married"].replace(["Yes", "No"], [1,0])
C:\Users\USER\AppData\Local\Temp\ipykernel_6732\604783954.py:3: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  df["Phone Service"] = df["Phone Service"].replace(["Yes", "No"], [1,0])
C:\Users\USER\AppData\Local\Temp\ipykernel_6732\604783954.py:10: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  df["Internet Service"] = df["Internet Service"].replace(["Yes", "No"], [1,0])

In [51]:
# Average Revenue Per Month and refund ratio
df["Avg_Revenue_Per_Month"] = df["Total Revenue"] / (df["Tenure in Months"])
df["Refund_Ratio"] = df["Total Refunds"] / (df["Total Revenue"])

In [52]:
# Tenure Buckets

df["Tenure_Group"] = pd.cut(
    df["Tenure in Months"],
    bins=[0, 6, 12, 24, 48, 72],
    labels=["0-6m", "6-12m", "1-2y", "2-4y", "4-6y"]
)

In [53]:
# droping unnecesary columns
df_model = df.drop(columns=[
    "Customer ID",
    "Churn Reason",
    "Churn Category",
    "Customer Status"
    
])

In [54]:
df = df.loc[:, ~df.columns.duplicated()]

In [55]:
df_model.to_csv("../data/cleaned/model_telecom_customer_churn.csv", index=False)